/* reset style */
@import url(reset.css);
/* ________ */
body {
    font-family: 'Poppins';
    font-weight: 300;
    color: #9C9C9C;
    background-color: #0D0D11;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

[class*= "__container"] {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}

.page{
    flex: 1 1 auto;
}

.button {
    display: inline-flex;
    background: #3D96F4;
    border-radius: 50px;
    padding: 16px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.45; /* 22/14 */
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    transition: 0.3s ease 0s;
}
.button:hover {
    background-color: #539fea;
}
.header {
}
.header__container {
    display: flex;
    column-gap: 35px;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}
.header__logo {
}
.header__menu {
    flex: 1 1 auto
}
.menu {
}
.menu_icon {
    display: none;
}
.icon__menu {
    display: none;
}
.menu__list {
    display: flex;
    column-gap: 35px;
    justify-content: flex-end;
    flex-wrap: wrap;
    row-gap: 3px ;
}
.menu__item {
}
.menu__link {
    font-size: 16px;
    color: #fff;
    line-height: 1.62;
}
.menu__link:hover {
    text-decoration: underline;
}
.header__cart {
    
}
.cart-header {
    color: #fff;
    align-items: center;
    display: flex;
    gap: 5px;
}
.cart-header:hover .cart-header__text {
    text-decoration: underline;
}
.cart-header__text {
    font-size: 18px;
    line-height: 1.55; /* 28px/18 */
}
.cart-header__quantitu {
    background: rgba(129, 129, 139, 0.3);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.header__button {
    flex: 0 0 auto;
}
