/* reset style */
@import url(reset.css);
/* ________ */
body {
    font-family: 'Poppins';
    font-weight: 300;
    color: #9C9C9C;
    background-color: #0D0D11;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

[class*= "__container"] {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}

.page{
    flex: 1 1 auto;
}

.button {
    display: inline-flex;
    background: #3D96F4;
    border-radius: 50px;
    padding: 16px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.45; /* 22/14 */
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    transition: 0.3s ease 0s;
}
@media (max-width: 991.98px ) {
    .button {
        padding: 14px 20px;
    }
}
.button:hover {
    background-color: #6a9ccd;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.558);
}
.header__container {
    display: flex;
    column-gap: 35px;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}
.header__logo {
    position: relative;
    z-index: 2;
}
.header__menu {
    flex: 1 1 auto
}
.menu {
}
.menu_icon {
    display: none;
}
.icon__menu {
    display: none;
}
.menu__list {
    display: flex;
    column-gap: 35px;
    justify-content: flex-end;
    flex-wrap: wrap;
    row-gap: 3px ;
}
.menu__item {
}
.menu__link {
    font-size: 16px;
    color: #fff;
    line-height: 1.62;
}
.menu__link:hover {
    text-decoration: underline;
}
.header__cart {
    
}
.cart-header {
    color: #fff;
    align-items: center;
    display: flex;
    gap: 5px;
}
.cart-header:hover .cart-header__text {
    text-decoration: underline;
}
.cart-header__text {
    font-size: 18px;
    line-height: 1.55; /* 28px/18 */
}
.cart-header__quantitu {
    background: rgba(129, 129, 139, 0.3);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.header__button {
    flex: 0 0 auto;
}

.header__logo,
.header__cart,
.header__button {
    position: relative;
    z-index: 5;
}
@media (max-width: 991.98px ) {
    .header__container,
    .menu__list {
        column-gap:  25px;
    }
    .header__container {
        min-height: 90px;
    }
}
@media (max-width: 767.98px ) {
    .header__container,
    .menu__list {
        column-gap:  15px;
    }
    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
    }
    .icon-menu span,
    .icon-menu::before, 
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        transition:  all 0.3s ease 0s;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu span {
        top: calc(50% - 1px);
    }
    .menu-open .icon-menu span {
        width: 0;
    }
    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }
    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }
    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        left: -100%;
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition:  left 0.3s ease 0s;
    }
    .menu__body::before {
        content: "";
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background-color: #000;
        z-index: 2;
        transition:  left 0.3s ease 0s;
    }
    .menu__list {
        row-gap: 10px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .menu__link {
        font-size: 32px;
    }
    .header__container {
        min-height: 70px;
    }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
    left: 0;
}

@media (max-width: 560px) {
    .header__logo{
        width: 33px;
        flex: 0 0 33px;
        overflow: hidden;
    }
    .cart-header__text {
        display: none;
    }
    .cart-header__quantitu {
        width: 33px;
        height: 45px;
        padding-top: 3px;
        border-radius: 0;
        background: url(/grofly/img/cart.svg) center / auto 100% no-repeat;
    }
}