body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #0095ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  li .task {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  li .completed {
    text-decoration: line-through;
  }
  
  li button {
    margin-left: 10px;
    padding: 5px;
    color: #fff;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .task {
    display: inline-block;
    max-width: 75%;
    overflow-wrap: break-word;
    margin-left: 10px;
    margin-right: 10px;
  }
  button.delete-button {
    float: right;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button.delete-button:hover {
    background-color: #e53935;
  }
  